# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.env
.venv
venv/
*.sqlite
*.db
uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend-web/build/

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
